@model Employee

@using (@Html.BeginForm("Edit", "Employee", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div id="Form">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

    </div>
    <div id="Form">
        @Html.LabelFor(m => m.Hours)
        @Html.TextBoxFor(m => m.Hours)
        @Html.ValidationMessageFor(m => m.Hours, "", new { @class = "text-danger" })
    </div>
    <div id="Form">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title)
        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
    </div>
    <input type="submit" , value="Submit" />
}