@model ToDo

@using (@Html.BeginForm("Edit", "ToDo", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div id="Form">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

    </div>
    <div id="Form">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description)
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
    </div>
    <span>Employee Assigned To</span>
    <select name="AssignedTo">
        @foreach (Employee e in Model.EmployeeList)
        {
            <option value="@e.Id">@e.Name</option>

        }
    </select>
    <div id="Form">
        @Html.LabelFor(m => m.HoursNeeded)
        @Html.TextBoxFor(m => m.HoursNeeded)
        @Html.ValidationMessageFor(m => m.HoursNeeded, "", new { @class = "text-danger" })
    </div>
    <input type="submit" , value="Submit" />
}
